.content {
  height: 1080px;
  grid-area: content;
  display: grid;
  grid-template-rows: 20% 1fr 1fr 1fr;
  gap: 20px;
}

.content__preview {
  grid-column-start: span 2;
}
.content__preview img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
}
.content__profile {
  grid-column-start: span 1;
  display: grid;
  grid-template-columns: 200px 400px;
  grid-template-rows: 200px 1fr;
  column-gap: 3%;
}
.content__posts {
  grid-column-start: span 2;
}
.content__footer {
  grid-column-start: span 2;
}

.profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.profile__description {
  /* grid-area: de; */
  grid-row-start: span 2;
  color: #47525e;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  width: 289px;
  text-align: justify;
  /* margin-top: 10%; */
}
.profile__description :first-child {
  color: #47525e;
  font-family: Lato;
  font-size: 35px;
  line-height: 45px;
  width: 562px;
  text-align: left;
  padding-bottom: 10px;
}
.profile__description p {
  margin-bottom: 20px;
  width: 500px;
  color: #bb5909;
}

.content__posts {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  justify-content: space-between;
  width: 25vw;
  min-width: 270px;
}

.my__posts p {
  color: #47525e;
  font-family: Lato;
  font-size: 35px;
  line-height: 45px;
}

textarea {
  background-color: #384153;
  width: 100%;
  height: 100px;
  color: rgb(237, 220, 220);
  font-size: 20px;
  border-radius: 10px;
}
.my__postssendbutton {
  align-self: flex-end;
  background-color: #0cb658;
  width: 162px;
  height: 36px;
}
.my__postssendbutton button {
  color: #ffffff;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  background-color: #0cb658;
  margin-left: 35%;
}
.content__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item__one {
  display: flex;
  margin-bottom: 3%;
  width: 370px;
  align-items: center;
}
.item__one__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: darkgoldenrod;
}
.item__one__comment {
  color: #47525e;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  margin-left: 12px;
}
/* body > iframe {
  display: none;
} */
