.Wrapper {
  width: 100%;
  height: 1080px;
}
.Container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10%;
  grid-auto-rows: 10%;
  grid-template-columns: 2fr 10px 4fr;
  grid-template-rows: 50px 1030px;
  grid-template-areas:
    "h h h"
    "sl bb sr";
}
.Head {
  grid-area: h;
  padding-left: 100px;
}
.Head p {
  color: #47525e;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  text-align: left;
  text-transform: uppercase;
}
.SideBar {
}
.LeftWrapper {
  grid-area: sl;
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.RightWrapper {
  grid-area: sr;
}
.Barrier {
  grid-area: bb;
  width: 3px;
  background-color: rgb(235, 19, 19);
  height: 780px;
  border: 1px solid #7e55f3;
  align-self: center;
}

.sidebar__items {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #8190a5;
  line-height: 56px;
  font-weight: 500;
  padding-bottom: 40px;
}
.sidebar__items::before {
  content: "\2022";
  color: #080b0c;
  margin-left: 10px;
  display: inline-block;
  width: 20px;
  font-weight: 700;
  font-size: 30px;
  justify-self: center;
}

.RightWrapper {
  display: flex;
  flex-direction: column;

  /* justify-content: space-between; */
  max-height: 550px;
}
.rightwrapper__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 450px;
  height: 100px;
  margin-left: 100px;
}
.user {
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user__info {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 90px;
  align-items: center;
}
.user__picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #8190a5;
}
.user__name {
  font-size: 20px;
  color: #8190a5;
  margin-top: 5px;
}
.user__message {
  width: 350px;
  height: 90px;
  border-radius: 10px;
  border: 2px solid rgb(81, 64, 64);
  display: flex;
  color: #080b0c;
}
.user__message p {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
  color: #080b0c;
}
.me {
  color: #080b0c;
}
.me textarea {
  max-width: 350px;
  max-height: 90px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 18px;
  line-height: 22px;
  padding: 18px;
}
.sendMessageFromUser {
  width: 85px;
  height: 40px;
  background-color: #0cb658;
  align-self: flex-start;
  justify-self: flex-end;
  margin-left: 370px;
  border-radius: 10%;
  color: #ffffff;
  font-family: Lato;
  font-size: 22px;
  line-height: 33px;
}
