.header {
  grid-area: header;
  background-color: rgb(255, 247, 247);
}
.headerImage {
  width: 90px;
  height: 90px;
  margin-left: 40px;
  margin-top: 30px;
}
.headerImage img {
  object-fit: cover;
  width: 90px;
  height: 90px;
}
