.header {
  grid-area: header;
  background-color: rgb(193, 170, 170);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerImage {
  width: 100px;
  height: 100px;
  margin-left: 5%;
}
.headerImage img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 65%;
}
.login {
  width: auto;
  height: auto;
  color: rgb(250, 255, 215);
  font-size: 20px;
  font-weight: bold;
  margin-right: 5%;
}
