.sidebar {
  height: 1080px;
  display: grid;
  grid-auto-flow: row;
  grid-area: sidebar;
  background-color: rgb(40, 214, 24);
}
.sidebar__list {
  display: grid;
  grid-auto-flow: row;
  height: 350px;
  padding: 20px 10px 0px 30px;
}
.sidebar__list a {
  font-size: 40px;
  font-weight: 600;
  color: rgb(231, 34, 34);
}
.sidebar__list a:last-child {
  margin-top: 50px;
}
.sidebar__friends {
  display: grid;
  grid-template-rows: 80px 90px 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "qqq qqq qqq";
  max-width: 600px;
  justify-self: center;
  gap: 10px;
}
.qqq {
  display: grid;
  grid-area: qqq;
  justify-self: center;
  font-size: 50px;
}
.userspictures {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: burlywood;
  justify-self: center;
}
.users__name {
  display: grid;
  justify-content: center;
}
