a {
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
.containerGrid {
  display: grid;
  grid-template-rows: 150px 100%;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "header header header"
    "sidebar content content";
  gap: 10px;
  grid-auto-columns: 0px;
  grid-auto-rows: 0px;
}
.header {
  grid-area: header;
  background-color: rgb(0, 0, 0);
}
.headerImage {
  width: 90px;
  height: 90px;
  margin-left: 40px;
  margin-top: 30px;
}
.headerImage img {
  object-fit: cover;
  width: 90px;
  height: 90px;
}
.sidebar {
  height: 1080px;
  display: grid;
  grid-auto-flow: row;
  grid-area: sidebar;
  background-color: rgb(40, 214, 24);
}
.sidebar__list {
  display: grid;
  grid-auto-flow: row;
  height: 350px;
  padding: 20px 10px 0px 30px;
}
.sidebar__list a {
  font-size: 40px;
  font-weight: 600;
  color: rgb(231, 34, 34);
}
.sidebar__list a:last-child {
  margin-top: 50px;
}
.sidebar__friends {
  display: grid;
  grid-template-rows: 80px 90px 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "qqq qqq qqq";
}
.qqq {
  display: grid;
  grid-area: qqq;
  justify-self: center;
  font-size: 50px;
}
.userspictures {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: burlywood;
  justify-self: center;
}
.users__name {
  display: grid;
  justify-content: center;
}

.content {
  height: 1080px;
  grid-area: content;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 1fr 1fr 1fr;

  /* grid-auto-rows: 10px;
  grid-auto-columns: 10px; */
  gap: 20px;
}

.content__preview {
  grid-column-start: span 2;
}
.content__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content__profile {
  grid-column-start: span 1;
  display: grid;
  grid-template-columns: 200px 400px;
  grid-template-rows: 200px 1fr;
  column-gap: 3%;

  /* grid-template-areas:
    "im de de"
    "de de"; */
}
.content__posts {
  grid-column-start: span 2;
}
.content__footer {
  grid-column-start: span 2;
}
.profile__image {
  /* grid-area: im; */
}

.profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile__description {
  /* grid-area: de; */
  grid-row-start: span 2;
  color: #47525e;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  width: 289px;
  text-align: justify;
  /* margin-top: 10%; */
}
.profile__description :first-child {
  color: #47525e;
  font-family: Lato;
  font-size: 35px;
  line-height: 45px;
  width: 262px;
  text-align: left;
  padding-bottom: 60px;
}
.profile__description :last-child {
}
.content__posts {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  justify-content: space-between;
  width: 90%;
}
.my__posts {
}
.my__posts p {
  color: #47525e;
  font-family: Lato;
  font-size: 35px;
  line-height: 45px;
}
.my__poststextarea {
}
textarea {
  /* margin-top: 20px; */
  background-color: #e6eeea;
  width: 100%;
  height: 100px;
  color: black;
}
.my__postssendbutton {
  align-self: flex-end;
  /* margin-right: 10%; */
  background-color: #0cb658;
  width: 162px;
  height: 36px;
}
.my__postssendbutton button {
  color: #ffffff;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  background-color: #0cb658;
  margin-left: 35%;
}
.content__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item__one {
  display: flex;
  margin-bottom: 3%;
  justify-content: space-between;
  width: 370px;
}
.item__one__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: darkgoldenrod;
}
.item__one__comment {
  color: #47525e;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
}
.item__two {
}
