.wrapper {
  display: flex;
  max-height: 1080px;
  max-width: 900px;
  flex-direction: column;
  /* grid-auto-columns: 0px;
  grid-auto-rows: 0px;
  grid-template-columns: 150px 1fr;
  grid-template-rows: repeat(6, 150px);
  grid-template-areas:
    "tl tl tl"
    "usr com com"; */
}
.descriptionTitle {
  align-self: center;
  /* display: grid;
  grid-area: tl;
  grid-column-start: span 3;
  grid-row-start: span 1; */
}
.descriptionTitle p {
  color: #47525e;
  font-family: Lato;
  font-size: 36px;
  line-height: 33px;
  text-align: left;
  font-weight: 500;
}
.ContainerMessages {
  max-height: 900px;
  width: 100%;
  margin-left: 30px;
  margin-top: 30px;
}
.BlockDialogsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
  /* margin-top: 50px; */
}
.followUsers {
  grid-area: usr;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 130px;
  justify-items: center;
  align-items: center;
  justify-self: center;
}
.followUserImage {
  background-color: #aeaaaa;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}
.followUserButton button {
  width: 100px;
  height: 35px;
  background-color: green;
  color: #ffffff;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
}
.UserComments {
  width: 700px;
  height: 100px;
  grid-area: com;
}
/* .UserComments textarea {
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid rgb(193, 29, 29);
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 10px 15px;
  font-size: 27px;
  color: #000000;
  width: 100%;
  min-height: 124px;
} */
.UserComments {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid rgb(193, 29, 29);
  border-radius: 10px;
  max-width: 450px;
}
.comment__area {
  width: 100%;
}
.info__container {
  display: flex;
  /* border-radius: 10px; */
  /* flex-direction: column;
  justify-content: space-between; */
}
.info__card {
  width: 150px;
  border-radius: 10px;
  background-color: rgb(151, 31, 31);
  /* align-self: flex-start; */
  /* height: 70px; */
}
/* /* .info__about__User {
  border-radius: 10px;
  width: 150px;
  height: 70px;
  background-color: rgb(189, 54, 54);
}  */
